<form  class="k-form" [formGroup]="postForm">
    <fieldset>
        <legend>{{title}}</legend>

        <label class="k-form-field">
            <span class="error">*</span><span>Post title</span>
            <input class="k-textbox" placeholder="Post title" formControlName="title" />
        </label>
        <div *ngIf="postForm.controls['title'].invalid">
            <span class="error">The title field must be filled!</span>
        </div>
        <label class="k-form-field">
            <span class="error">*</span><span>Post text</span>
            <input class="k-textbox" name="body" placeholder="Post text" formControlName="body" />
        </label>
        <div *ngIf="postForm.controls['body'].invalid">
            <span class="error">The body field must be filled!</span>
        </div>
    </fieldset>
</form>
