<form  class="k-form" [formGroup]="postForm">
    <fieldset>
        <legend>{{title}}</legend>

        <label class="k-form-field">
            <span class="error">*</span><span>Post title</span>
            <input class="k-textbox" placeholder="Post title" formControlName="title" />
            <div *ngIf="postForm.controls['title'].invalid && postForm.controls['title'].touched" class="error">
                <span>{{validationMessages('title')}}</span>
            </div>
        </label>
        <label class="k-form-field">
            <span class="error">*</span><span>Post text</span>
            <input class="k-textbox" name="body" placeholder="Post text" formControlName="body" />
            <div *ngIf="postForm.controls['body'].invalid && postForm.controls['body'].touched" class="error">
                <span>{{validationMessages('body')}}</span>
            </div>
        </label>
    </fieldset>
</form>
