<button kendoButton class="k-primary modal-window-button" (click)="open()">{{btnText}}</button>
<kendo-dialog
    [title]="title" 
    *ngIf="opened" 
    (close)="close()" 
    [minWidth]="600" 
>
    <app-post-form 
        [title]="'New post'"
        [post]="post"
        (dataPost)="savePost($event)"
    ></app-post-form>
    <div class="k-actions k-actions-end">
        <button type="button" class="k-button" (click)="close()">
            Cancel
        </button>
        <button type="button" class="k-button k-primary" (click)="submit()">
            Submit
        </button>
    </div>
</kendo-dialog>
