<div class="example-wrapper">
    <button kendoButton class="k-primary" *ngIf="!opened" (click)="open()">Add Post</button>
    <button kendoButton class="k-button" *ngIf="opened" (click)="close()">Cancel</button>
    <p *ngIf="dataSaved">New post saved</p>
    <kendo-window title="Please fill in the new post" *ngIf="opened" (close)="close()" [minWidth]="600"
        [width]="450">
        <form class="k-form" [formGroup]="newPostForm">
            <fieldset>
                <legend>New post</legend>

                <label class="k-form-field">
                    <span>Post title</span>
                    <input class="k-textbox" placeholder="Post title" formControlName="title" />
                </label>
                <label class="k-form-field">
                    <span>Post text</span>
                    <input class="k-textbox" placeholder="Post text" formControlName="body" />
                </label>
            </fieldset>

            <div class="k-actions k-actions-end">
                <button type="button" class="k-button" (click)="close()">
                    Cancel
                </button>
                <button type="button" class="k-button k-primary" (click)="submit()" [disabled]="newPostForm.invalid">
                    Submit
                </button>
            </div>
        </form>
    </kendo-window>
</div>
