<div class="users-list" *ngIf="users$ | async as users">
    <button kendoButton class="k-primary open-user-modal-btn" (click)="openUserModal()">{{ textAddUser }}</button>
    <kendo-grid 
        [data]="users"
        (dblclick)="dblClick()"
        (cellClick)="cellClickHandler($event)">
        <kendo-grid-column field="username" title="User name"> </kendo-grid-column>
        <kendo-grid-column field="email" title="Post email"> </kendo-grid-column>
        <kendo-grid-column field="address.city" title="User address"> </kendo-grid-column>
        <kendo-grid-column field="phone" title="User Phone"> </kendo-grid-column>
    </kendo-grid>

    <app-user-modal-window
        *ngIf="isOpenUserModal"
        [title]="textTitleUserModal"
        [usersLength]="users.length"
        (updateUsers)="updateUsers()"
    ></app-user-modal-window>
</div>
