<div class="users-list" *ngIf="users$ | async as users">
    <app-user-modal-window 
        [title]="'Fill in the details of the new user'"
        [btnText]="'Add user'"
        [usersLength]="users.length"
        [typeModalWindow]="'Add user'"
        (updateUsers)="updateUsers()"
    ></app-user-modal-window>

    <kendo-grid [data]="users">
        <kendo-grid-column class="btn">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton class="k-primary" (dblclick)="dblClick(dataItem)">user info</button>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="username" title="User name"> </kendo-grid-column>
        <kendo-grid-column field="email" title="Post email"> </kendo-grid-column>
        <kendo-grid-column field="address.city" title="User address"> </kendo-grid-column>
        <kendo-grid-column field="phone" title="User Phone"> </kendo-grid-column>
    </kendo-grid>
</div>