.post {
    border: 1px solid #3f51b5;
    padding: 10px 15px;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

app-modal-edit-post {
    margin-right: 10px;
}

app-comment {
    display: block;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.comments-btn{
    margin-bottom: 10px;
}
