<div *ngIf="user; else not_found" class="container">
    <button kendoButton class="k-primary" (click)="goBack()">{{ textBack }}</button>
    <button kendoButton class="k-primary open-user-modal-btn" (click)="openUserModal()">{{ textEditUser }}</button>
    <div class="user-info">
        <div class="user-info_person">
            <h1>{{ title }}</h1>
            <div class="user-info-item">
                <span>{{ textFirstName }}</span>
                <p>{{ user.firstName }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textLastName }}</span>
                <p>{{ user.lastName }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textNickname }}</span>
                <p>{{ user.username }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textEmail }}</span>
                <p>{{ user.email }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textAddress }}</span>
                <p>{{ textStreet }} {{ user.address.street }}</p>
                <p>{{ textBuilding }} {{ user.address.building }}</p>
                <p>{{ textCity }} {{ user.address.city }}</p>
                <p>{{ textZipcode }} {{ user.address.zipcode }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textPhone }}</span>
                <p>{{ user.phone }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textWebsite }}</span>
                <p>{{ user.website }}</p>
            </div>
            <div class="user-info-item">
                <span>{{ textCompany }}</span>
                <p>{{ textCompanyName }} {{ user.company.name }}</p>
                <p>{{ textCompanyScope }} {{ user.company.scope }}</p>
            </div>
        </div>
        <div class="user-info_posts" *ngIf="userPosts$ | async as posts">
            <button kendoButton class="k-primary open-post-modal-btn" (click)="openPostModal()">{{ textAddPost }}</button>
            <app-post *ngFor="let post of posts" [post]="post" (isUpdate)="updatePosts()"></app-post>
        </div>
    </div>

</div>

<ng-template #not_found>
    <app-not-found></app-not-found>
</ng-template>

<app-user-modal-window
    *ngIf="isOpenUserModal"
    [title]="textTitleUserModal"
    [user]="user"
    (updateUser)="updateUser()"
></app-user-modal-window>

<app-post-modal-window
    *ngIf="isOpenPostModal"
    [title]="textTitlePostModal" 
    [userId]="user.id"
    (updatePosts)="updatePosts()"
></app-post-modal-window>
