<div class="container" *ngIf="user$ | async as user">
    <button kendoButton class="k-primary" (click)="goBack()">Back</button>
    <button kendoButton class="k-primary open-user-modal-btn" (click)="openUserModal()">Edit user</button>
    <div class="user-info">
        <div class="user-info_person">
            <h1>User info</h1>
            <div class="user-info-item">
                <span>User first name</span>
                <p>{{user.firstName}}</p>
            </div>
            <div class="user-info-item">
                <span>User last name</span>
                <p>{{user.lastName}}</p>
            </div>
            <div class="user-info-item">
                <span>User nickname</span>
                <p>{{user.username}}</p>
            </div>
            <div class="user-info-item">
                <span>User email</span>
                <p>{{user.email}}</p>
            </div>
            <div class="user-info-item">
                <span>User address</span>
                <p>Street: {{user.address.street}}</p>
                <p>Building: {{user.address.building}}</p>
                <p>City: {{user.address.city}}</p>
                <p>Zipcode: {{user.address.zipcode}}</p>
            </div>
            <div class="user-info-item">
                <span>User phone:</span>
                <p>{{user.phone}}</p>
            </div>
            <div class="user-info-item">
                <span>User website</span>
                <p>{{user.website}}</p>
            </div>
            <div class="user-info-item">
                <span>User company</span>
                <p>Company name: {{user.company.name}}</p>
                <p>Company scope: {{user.company.scope}}</p>
            </div>
        </div>
        <div class="user-info_posts" *ngIf="userPosts$ | async as posts">
            <button kendoButton class="k-primary open-post-modal-btn" (click)="openPostModal()">Add post</button>
            <app-post *ngFor="let post of posts" [post]="post" (isUpdate)="updatePosts()"></app-post>
        </div>
    </div>

    <app-user-modal-window
        *ngIf="isOpenUserModal"
        [title]="'Please edited in the user information'"
        [user]="user"
        [typeModalWindow]="'Edit user'"
        (updateUser)="updateUser()"
        (closeModal)="closeUserModal()"
    ></app-user-modal-window>

    <app-post-modal-window
        *ngIf="isOpenPostModal"
        [title]="'Please fill in the new post'" 
        [userId]="user.id"
        [typeModalWindow]="'Add post'"
        (updatePosts)="updatePosts()"
        (closeModal)="closePostModal()"
    ></app-post-modal-window>
</div>
